<div class="main_content" *ngIf="toggle">
  <h2 class="main_title">My world today</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit <a href="#" class="link">Fugit assumenda</a> 
    Porro repellendus, illo culpa aut odit explicabo dignissimos dolorem quos 
    doloremque rerum nostrum placeat maiores dolores deserunt corrupti aspernatur!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque mollitia atque 
    iste maxime est, qui delectus ea illo quas sunt aperiam sequi voluptas sed esse.
    Sit consequatur velit tenetur possimus! Lorem, ipsum dolor sit amet consectetur 
    adipisicing elit. Numquam aliquam rem eveniet similique! Quod illum quidem impedit rem.
  </p>
</div>  
