<div class="form" *ngIf="!toggle">
  <form [formGroup]="userForm">

    <div class="row input form-group"> <!-- Name-->
      <div class="col-md-4 col-sm-12">
        <label for="name" 
        [ngClass]="userForm.controls.name.errors && 
          (userForm.controls.name.dirty || userForm.controls.name.touched) ? 'label-error' : ''">
          Name
        </label>
      </div>
      <div class="col-md-8 col-sm-12">
        <input type="text" placeholder="John Doe" formControlName="name"
        [ngClass]="userForm.controls.name.errors && 
        (userForm.controls.name.dirty || userForm.controls.name.touched) ? 'form-control form-control-error' : 'form-control'">
    
        <div class="error-message" *ngIf="userForm.controls.name.errors && 
          (userForm.controls.name.dirty || userForm.controls.name.touched)">
          <p *ngIf="userForm.controls.name.errors.required">Your name is required</p>
          <p *ngIf="userForm.controls.name.errors.minlength">Your name is too short</p>
        </div>
      </div>
    </div> 

    <div class="row radio"> <!-- Gender-->
      <div class="col-4">
        <label for="inputGender">Gender</label>
      </div>
      <div class="col-8">
        <div class="row gender">
          <div class="col-md-6 col-sm-12">
            <a id="male" (click)="markActiveGender('male')" [ngClass]="male ? 'male-active' : '' " class="male"></a>
            <span class="radio-label">Male</span>
          </div>
          <div class="col-md-6 col-sm-12">
            <a id="female" (click)="markActiveGender('famale')" [ngClass]="female ? 'female-active' : '' " class="female"></a>
            <span class="radio-label">Female</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row input"> <!-- Date Of Birth-->
      <div class="col-md-4 col-sm-12">
        <label for="dateOfBirth">Date of Birth</label>
      </div>
      <div class="col-md-8 col-sm-12">
        <input type="date" id="dob" placeholder="01/01/2018" class="form-control">
      </div>
    </div>

    <div class="row input form-group"> <!-- Email-->
      <div class="col-md-4 col-sm-12">
        <label for="email" 
          [ngClass]="userForm.controls.email.errors && 
            (userForm.controls.email.dirty || userForm.controls.email.touched) ? 'label-error' : ''">
            Email
        </label>
      </div>
      <div class="col-md-8 col-sm-12">
        <input type="email" id="email" formControlName="email" placeholder="johndoe@email.com" 
          [ngClass]="userForm.controls.email.errors && 
            (userForm.controls.email.dirty || userForm.controls.email.touched) ? 'form-control form-control-error' : 'form-control'">
        
        <div class="error-message" *ngIf="userForm.controls.email.errors && 
          (userForm.controls.email.dirty || userForm.controls.email.touched)">
          <p *ngIf="userForm.controls.email.errors.required">Email is required</p>
          <p *ngIf="userForm.controls.email.errors.pattern">Invalid email address </p>
        </div>
      </div>
    </div>

    <div class="row input"> <!-- Mobile-->
      <div class="col-md-4 col-sm-12">
          <label for="mobile" 
          [ngClass]="userForm.controls.mobile.errors && 
            (userForm.controls.mobile.dirty || userForm.controls.mobile.touched) ? 'label-error' : ''">
            Mobile
          </label>
        </div>
      <div class="col-md-8 col-sm-12">
        <input type="phone" id="mobile" formControlName="mobile" placeholder="+91 12345 12345"
          [ngClass]="userForm.controls.mobile.errors && 
            (userForm.controls.mobile.dirty || userForm.controls.mobile.touched) ? 'form-control form-control-error' : 'form-control'">
        
        <div class="error-message" *ngIf="userForm.controls.mobile.errors && 
          (userForm.controls.mobile.dirty || userForm.controls.mobile.touched)">
          <p *ngIf="userForm.controls.mobile.errors.required">Mobile number is required</p>
          <p *ngIf="userForm.controls.mobile.minlength">Invalid mobile number </p>
        </div>
      </div> 
    </div>

    <div class="row input"> <!-- Customer Id-->
      <div class="col-md-4 col-sm-12">
          <label for="customerId" 
          [ngClass]="userForm.controls.customerId.errors && 
            (userForm.controls.customerId.dirty || userForm.controls.customerId.touched) ? 'label-error' : ''">
            Customer ID
          </label>
        </div>
      <div class="col-md-8 col-sm-12">
        <input type="phone" id="customerId" formControlName="customerId" placeholder="12345 ABCD123 12"
          [ngClass]="userForm.controls.customerId.errors && 
            (userForm.controls.customerId.dirty || userForm.controls.customerId.touched) ? 'form-control form-control-error' : 'form-control'">
          <div class="error-message" *ngIf="userForm.controls.customerId.errors && 
            (userForm.controls.customerId.dirty || userForm.controls.customerId.touched)">
            <p *ngIf="userForm.controls.customerId.errors.required">Customer ID is required</p>
            <p *ngIf="userForm.controls.customerId.minlength">Invalid customer ID </p>
          </div>
      </div> 
    </div>
      
    <div class="row radio"> <!-- Membership-->
      <div class="col-4">
        <label for="memebership">Memebership</label>
      </div>
      <div class="col-8">
        <div class="row package">
          <div class="col">
            <a (click)="markActivePackage('classic')" [ngClass]="classic ? 'active-package' : 'inactive-package'"></a>
            <span class="membership-label">Classic</span>
          </div>
          <div class="col">
            <a (click)="markActivePackage('silver')" [ngClass]="silver ? 'active-package' : 'inactive-package'"></a>
            <span class="membership-label">Silver</span>
          </div>
          <div class="col">
            <a (click)="markActivePackage('gold')" [ngClass]="gold ? 'active-package' : 'inactive-package'"></a>
            <span class="membership-label">Gold</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row buttons">
      <div class="col-md-6">
        <button type="button" class="btn form-btn cancel" (click)="resetForm()">CANCEL</button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn form-btn save">SAVE</button>
      </div>
    </div>
  </form>


</div>