$pale-grey: #f5f8f9;
$cloudy-blue: #cad7dd;
$cloudy-blue-two: #b1bfcd;
$pale-grey-gradient: rgba(245, 248, 249, 0.3);
$pale-grey-border: #b3c1ce;
$greeny-blue: #49c8a8;
$cloudy-blue: #cad7dd;
$tangerine: #ff9200;
$sunflower-yellow: #ffd500;
$white: #fff;